<a href="https://colab.research.google.com/github/NaveenVuppula/Healthcare-Provider-Fraud-Detection-Analysis/blob/main/Healthcare_Provider_Fraud_Detection_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Healthcare Provider Fraud Detection Analysis**

**Project Objectives**: <br>
Members who are claiming the

#<h1>1. Imports

In [ ]:
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)
if gpu_info.find('failed') >= 0:
  print('Not connected to a GPU')
else:
  print(gpu_info)

from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

/bin/bash: nvidia-smi: command not found
Your runtime has 54.8 gigabytes of available RAM

You are using a high-RAM runtime!

In [ ]:
%tensorflow_version 2.x
import tensorflow as tf
tf.compat.v1.enable_eager_execution()
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  print('GPU device not found')
else:
  print('Found GPU at: {}'.format(device_name))
  print("Num GPUs Available: ", len(tf.config.list_physical_devices('GPU')))

GPU device not found

In [ ]:
import os
import datetime
import re
import zipfile
import pandas as pd
from prettytable import PrettyTable
import numpy as np

#<h1>2. Downloading the Data

In [ ]:
if not os.path.isfile('archive.zip'):
  !wget --header="Host: storage.googleapis.com" --header="User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36" --header="Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9" --header="Accept-Language: en-IN,en-GB;q=0.9,en-US;q=0.8,en;q=0.7,te;q=0.6" --header="Referer: https://www.kaggle.com/" "https://storage.googleapis.com/kaggle-data-sets/188596/421248/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20220221%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20220221T081931Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=075aef8a8ac6b918b2bc54caef4f6bf59f5bcb8b80d82a851577beee4c163c00fc74bb05a9a891ecadd1e5ae2542de0649a7af4eafef2130625d3f827473f3b5eefcdd4d3a63dbc4034010b4d91ae1ed2d12b6cca7b581b9796d1a17a7b4f27959ca7b8b55b79a333bc8f155923a08d9863df669c28dd56c1d876bbbe0f5eb67c3fa12d1643f9263d07010c73165463b2a1f0e9d5c5e1acc51b35e007e51c61ea41c417f38b4984d1aac2e5d102f396bbf8f123d9f791f6878e614f994ff29f93a32d6636a05c467d0de363396dc71e641faa7fc3f11e5f79eb658c1a126cdd78c010aee5b18d91f6ec66d06661824eb63638f243c12cde506f40a5f64b90429" -c -O 'archive.zip'
  with zipfile.ZipFile("archive.zip", 'r') as zip_ref:
    zip_ref.extractall('.')

--2022-02-21 09:19:33--  https://storage.googleapis.com/kaggle-data-sets/188596/421248/bundle/archive.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20220221%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20220221T081931Z&X-Goog-Expires=259199&X-Goog-SignedHeaders=host&X-Goog-Signature=075aef8a8ac6b918b2bc54caef4f6bf59f5bcb8b80d82a851577beee4c163c00fc74bb05a9a891ecadd1e5ae2542de0649a7af4eafef2130625d3f827473f3b5eefcdd4d3a63dbc4034010b4d91ae1ed2d12b6cca7b581b9796d1a17a7b4f27959ca7b8b55b79a333bc8f155923a08d9863df669c28dd56c1d876bbbe0f5eb67c3fa12d1643f9263d07010c73165463b2a1f0e9d5c5e1acc51b35e007e51c61ea41c417f38b4984d1aac2e5d102f396bbf8f123d9f791f6878e614f994ff29f93a32d6636a05c467d0de363396dc71e641faa7fc3f11e5f79eb658c1a126cdd78c010aee5b18d91f6ec66d06661824eb63638f243c12cde506f40a5f64b90429
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.65.80, 142.250.188.208, 142.251.33.208, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.65.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26631783 (25M) [application/zip]
Saving to: ‘archive.zip’

archive.zip         100%[===================>]  25.40M  47.8MB/s    in 0.5s

2022-02-21 09:19:33 (47.8 MB/s) - ‘archive.zip’ saved [26631783/26631783]

#<h1>3. Data Pre-processing

In [ ]:
df = pd.read_csv("Train-1542865627584.csv")

In [ ]:
df.head()

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No
3  PRV51005            Yes
4  PRV51007             No

In [ ]:
df = pd.read_csv("Train_Beneficiarydata-1542865627584.csv")

In [ ]:
df.head()

      BeneID         DOB  ... OPAnnualReimbursementAmt  OPAnnualDeductibleAmt
0  BENE11001  1943-01-01  ...                       60                     70
1  BENE11002  1936-09-01  ...                       30                     50
2  BENE11003  1936-08-01  ...                       90                     40
3  BENE11004  1922-07-01  ...                     1810                    760
4  BENE11005  1935-09-01  ...                     1790                   1200

[5 rows x 25 columns]

In [ ]:
df = pd.read_csv("Train_Inpatientdata-1542865627584.csv")

In [ ]:
df.head()

      BeneID   ClaimID  ... ClmProcedureCode_5 ClmProcedureCode_6
0  BENE11001  CLM46614  ...                NaN                NaN
1  BENE11001  CLM66048  ...                NaN                NaN
2  BENE11001  CLM68358  ...                NaN                NaN
3  BENE11011  CLM38412  ...                NaN                NaN
4  BENE11014  CLM63689  ...                NaN                NaN

[5 rows x 30 columns]

In [ ]:
df = pd.read_csv("Train_Outpatientdata-1542865627584.csv")

In [ ]:
df.head()

      BeneID    ClaimID  ... DeductibleAmtPaid ClmAdmitDiagnosisCode
0  BENE11002  CLM624349  ...                 0                 56409
1  BENE11003  CLM189947  ...                 0                 79380
2  BENE11003  CLM438021  ...                 0                   NaN
3  BENE11004  CLM121801  ...                 0                   NaN
4  BENE11004  CLM150998  ...                 0                 71947

[5 rows x 27 columns]

In [ ]:
df.shape

(517737, 27)

#<h1>4. EDA (Exploratory Data Analysis)

##<h2>4.1. Uni-Variate Analysis

##<h2>4.2. Multi-Variate Analysis

#<h1>5. Feature Engineering

#<h1>6. Models

We will try to apply Random model first followed by specific models. <br>The comparison between the models will be done at the end.